<div class="box">
<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div>
      <label for="username">Numéro de téléphone:</label>
      <input type="text" id="username" [(ngModel)]="numero" name="username" placeholder="Enter your phone number" required />
    </div>
    <div class="buttons-container">
      <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
      <button type="submit">Connect</button>
    </div>
  </form>
</div>
</div>